node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
.DS_Store
data/AllPrintings.json
data/AtomicCards.json
*.tar.gz
uploads/*
temp/*
backups/*
.replit
attached_assets
*.log